<div class="slider js_simple_dots js_slider">
    <div class="frame js_frame">
        <ul class="slides js_slides">
            <li class="js_slide">
                <div class="img" style="background-image:url('{root_path}img/img1.png')"></div>
                <div class="content">
                    <h1>SWAN was updated!</h1>
                    <p>Check out the new features in the following pages.</p>
                </div>
            </li>
            <li class="js_slide">
                <div class="img" style="background-image:url('{root_path}img/img7.png')"></div>
                <div class="content">
                    <h1>Preview shared Projects</h1>
                    <p>Check what's inside before cloning them.</p>
                    <p>Open notebooks in view mode.</p>
                </div>
            </li>
            <li class="js_slide">
                <div class="img" style="background-image:url('{root_path}img/img8.png')"></div>
                <div class="content">
                    <h1>Readme</h1>
                    <p>If your Project has a readme.md file, SWAN displays it when browsing the Project.</p>
                </div>
            </li>
            <li class="js_slide">
                <div class="img" style="background-image:url('{root_path}img/img9.png')"></div>
                <div class="content">
                    <h1>Easy git cloning</h1>
                    <p>Create Projects from git repositories by specifying their URL.</p>
                </div>
            </li>
            <li class="js_slide">
                <div class="img" style="background-image:url('{root_path}img/img2.png')"></div>
                <div class="content">
                    <h1>New Jupyter</h1>
                    <p>Jupyter is now version 5.4.0, with several bug fixes.</p>
                </div>
            </li>
            <li class="js_slide">
                <div class="img" style="background-image:url('{root_path}img/img5.png')"></div>
                <div class="content">
                    <h1>Feedback</h1>
                    <p>Please send us your comments to <a href="mailto:swan-talk@cern.ch">swan-talk@cern.ch</a>.</p>
                </div>
            </li>
        </ul>
    </div>
    <span class="js_prev prev">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 501.5 501.5"><g><path
                            fill="#0053A1"
                            d="M302.67 90.877l55.77 55.508L254.575 250.75 358.44 355.116l-55.77 55.506L143.56 250.75z"/></g></svg>
                </span>
    <span class="js_next next">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 501.5 501.5"><g><path
                            fill="#0053A1"
                            d="M199.33 410.622l-55.77-55.508L247.425 250.75 143.56 146.384l55.77-55.507L358.44 250.75z"/></g></svg>
                </span>
    <ul class="js_dots dots"></ul>
</div>