<div class="slider js_simple_dots js_slider">
    <div class="frame js_frame">
        <ul class="slides js_slides">
            <li class="js_slide">
                <div class="img" style="background-image:url('{root_path}img/img1.png')"></div>
                <div class="content">
                    <h1>Welcome to SWAN</h1>
                    <p>Your Service for Web based ANalysis.</p>
                    <p>Check all functionalities in the next pages.</p>
                </div>
            </li>
            <li class="js_slide">
                <div class="img" style="background-image:url('{root_path}img/img2.png')"></div>
                <div class="content">
                    <h1>Jupyter-based interface</h1>
                    <p>Do your interactive data analysis with <a href="https://jupyter.org/" target="_blank">Jupyter Notebooks</a>.</p>
                    <p>To know more, please check the <a href="https://jupyter.readthedocs.io/en/latest/" target="_blank">
                        Jupyter documentation.</a></p>
                </div>
            </li>
            <li class="js_slide">
                <div class="img" style="background-image:url('{root_path}img/img3.png')"></div>
                <div class="content">
                    <h1>CERNBox is your home</h1>
                    <p>Work with your data on CERNBox.</p>
                    <p>Create Projects and share them easily with others.</p>
                </div>
            </li>
            <li class="js_slide">
                <div class="img" style="background-image:url('{root_path}img/img4.png')"></div>
                <div class="content">
                    <h1>Spark Clusters</h1>
                    <p>Connect to CERN Spark Clusters.</p>
                    <p>Submit your jobs and monitor them from inside a notebook.</p>
                </div>
            </li>
            <li class="js_slide">
                <div class="img" style="background-image:url('{root_path}img/img6.png')"></div>
                <div class="content">
                    <h1>Find the software you need</h1>
                    <p>Configure your environment with CVMFS. Check <a href="http://lcginfo.cern.ch/" target="_blank">here</a>
                        all available packages and their versions.</p>
                    <p>Need more? <a href="https://sft.its.cern.ch/jira/projects/SPI/issues/" target="_blank">
                        Ask the librarians</a> or install your own (see the Help).</p>
                </div>
            </li>
            <li class="js_slide">
                <div class="img" style="background-image:url('{root_path}img/img5.png')"></div>
                <div class="content">
                    <h1>What next?</h1>
                    <p>If you want to know more or need help, open the Help panel on the top right menu.</p>
                    <p>Send us your comments to <a href="mailto:swan-talk@cern.ch">swan-talk@cern.ch</a>.</p>
                </div>
            </li>
        </ul>
    </div>
    <span class="js_prev prev">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 501.5 501.5"><g><path
                            fill="#0053A1"
                            d="M302.67 90.877l55.77 55.508L254.575 250.75 358.44 355.116l-55.77 55.506L143.56 250.75z"/></g></svg>
                </span>
    <span class="js_next next">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 501.5 501.5"><g><path
                            fill="#0053A1"
                            d="M199.33 410.622l-55.77-55.508L247.425 250.75 143.56 146.384l55.77-55.507L358.44 250.75z"/></g></svg>
                </span>
    <ul class="js_dots dots"></ul>
</div>