{% extends "page.html" %}

{% block title %}{{page_title}}{% endblock %}

{% block favicon %}<link rel="shortcut icon" type="image/x-icon" href="{{static_url("base/images/favicon-file.ico") }}">{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ static_url('components/codemirror/lib/codemirror.css') }}">
<link rel="stylesheet" href="{{ static_url('components/codemirror/addon/dialog/dialog.css') }}">
{{super()}}
{% endblock %}

{% block bodyclasses %}edit_app {{super()}}{% endblock %}

{% block params %}
data-base-url="{{base_url | urlencode}}"
data-file-path="{{file_path}}"
{{super()}}
{% endblock %}

{% block headercontainer %}

<span id="save_widget" class="save_widget">
    <span id="notebook_name" class="filename"></span>
    <div class="status">
        <span class="last_modified"></span>
    </div>
</span>


{% endblock %}


{% block site %}
<div id="menubar-container">
  <div class="container">

    <div class="row">
      <div class="col-xs-12">

        <div id="menubar">
          <div id="menus" class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
              <p  class="navbar-text indicator_area">
                <span id="current-mode" >current mode</span>
              </p>
              <button type="button" class="btn btn-default navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <i class="fa fa-bars"></i>
                <span class="navbar-text">Menu</span>
              </button>
              <ul class="nav navbar-nav navbar-right">
                <li id="notification_area"></li>
              </ul>
              <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">File</a>
                    <ul id="file-menu" class="dropdown-menu">
                      <li id="new-file"><a href="#">New</a></li>
                      <li id="save-file"><a href="#">Save</a></li>
                      <li id="rename-file"><a href="#">Rename</a></li>
                      <li id="download-file"><a href="#">Download</a></li>
                    </ul>
                  </li>
                  <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Edit</a>
                    <ul id="edit-menu" class="dropdown-menu">
                      <li id="menu-find"><a href="#">Find</a></li>
                      <li id="menu-replace"><a href="#">Find &amp; Replace</a></li>
                      <li class="divider"></li>
                      <li class="dropdown-header">Key Map</li>
                      <li id="menu-keymap-default"><a href="#">Default<i class="fa"></i></a></li>
                      <li id="menu-keymap-sublime"><a href="#">Sublime Text<i class="fa"></i></a></li>
                      <li id="menu-keymap-vim"><a href="#">Vim<i class="fa"></i></a></li>
                      <li id="menu-keymap-emacs"><a href="#">emacs<i class="fa"></i></a></li>
                    </ul>
                  </li>
                  <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">View</a>
                    <ul id="view-menu" class="dropdown-menu">
                      <li id="toggle_header" title="Show/Hide the logo and notebook title (above menu bar)">
                        <a href="#">Toggle Header</a></li>
                      <li id="menu-line-numbers"><a href="#">Toggle Line Numbers</a></li>
                    </ul>
                  </li>
                  <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Language</a>
                    <ul id="mode-menu" class="dropdown-menu">
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="lower-header-bar"></div>

      </div>
    </div>
  </div>
</div>

<div id="texteditor-backdrop">
<div id="texteditor-container" class="container"></div>
</div>

{% endblock %}

{% block script %}

    {{super()}}

<script src="{{ static_url("edit/js/main.min.js") }}" type="text/javascript" charset="utf-8"></script>
{% endblock %}
