<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">

    <title>{% block title %}Swan{% endblock %}</title>
    <link rel="shortcut icon" type="image/x-icon" href="/hub/static/swan/logos/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="{{static_url('components/jquery-ui/themes/smoothness/jquery-ui.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{static_url('components/jquery-typeahead/dist/jquery.typeahead.min.css') }}" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block stylesheet %}
    <!-- Latest compiled and minified CSS -->

    <link rel="stylesheet" href="{{ static_url("components/codemirror/lib/codemirror.css") }}">

    <link rel="stylesheet" href="{{ static_url('style/style.min.css') }}" type="text/css"/>
    {%if base_url == '/' %}
    <link rel="stylesheet" href="/custom/css/style.css" type="text/css"/> <!-- For Dev purposes-->
    {% endif %}
    {% endblock %}
    <link rel="stylesheet" href="/hub/static/swan/css/style.css" type="text/css" />
    <script src="{{static_url('components/es6-promise/promise.min.js')}}" type="text/javascript" charset="utf-8"></script>
    <script src="{{static_url('components/preact/index.js')}}" type="text/javascript"></script>
    <script src="{{static_url('components/proptypes/index.js')}}" type="text/javascript"></script>
    <script src="{{static_url('components/preact-compat/index.js')}}" type="text/javascript"></script>
    <script src="{{static_url('components/requirejs/require.js') }}" type="text/javascript" charset="utf-8"></script>
    <script>
      require.config({
          {% if version_hash %}
          urlArgs: "v={{version_hash}}",
          {% endif %}
          baseUrl: '{{static_url("", include_version=False)}}',
          paths: {
            'auth/js/main': 'auth/js/main.min',
            custom : '{{ base_url }}custom',
            nbextensions : '{{ base_url }}nbextensions',
            kernelspecs : '{{ base_url }}kernelspecs',
            underscore : 'components/underscore/underscore-min',
            backbone : 'components/backbone/backbone-min',
            jed: 'components/jed/jed',
            jquery: 'components/jquery/jquery.min',
            json: 'components/requirejs-plugins/src/json',
            text: 'components/requirejs-text/text',
            bootstrap: 'components/bootstrap/js/bootstrap.min',
            bootstraptour: 'components/bootstrap-tour/build/js/bootstrap-tour.min',
            'jquery-ui': 'components/jquery-ui/ui/minified/jquery-ui.min',
            moment: 'components/moment/min/moment-with-locales',
            codemirror: 'components/codemirror',
            termjs: 'components/xterm.js/dist/xterm',
            typeahead: 'components/jquery-typeahead/dist/jquery.typeahead.min',
          },
          map: { // for backward compatibility
              "*": {
                  "jqueryui": "jquery-ui",
                  'tree/js/notebooklist': 'nbextensions/swancontents/notebooklist',
                  'contents': 'nbextensions/swancontents/contents'
              },
              'nbextensions/swancontents/notebooklist': {
                  'tree/js/notebooklist': 'tree/js/notebooklist'
              },
              'nbextensions/swancontents/contents': {
                      'contents': '{{ contents_js_source }}'
              }
          },
          shim: {
            typeahead: {
              deps: ["jquery"],
              exports: "typeahead"
            },
            underscore: {
              exports: '_'
            },
            backbone: {
              deps: ["underscore", "jquery"],
              exports: "Backbone"
            },
            bootstrap: {
              deps: ["jquery"],
              exports: "bootstrap"
            },
            bootstraptour: {
              deps: ["bootstrap"],
              exports: "Tour"
            },
            "jquery-ui": {
              deps: ["jquery"],
              exports: "$"
            }
          },
          waitSeconds: 30,
      });

      document.nbjs_translations = {{ nbjs_translations|safe }};

    </script>

    {% block meta %}
    {% endblock %}

</head>

<body class="{% block bodyclasses %}{% endblock %}{% if not tree  and not extension%} full-width{% endif %}"
 {% block params %}
{% if logged_in and token %}
data-jupyter-api-token="{{token | urlencode}}"
{% endif %}
{% endblock params %}
page_type="{% if projects_page %}projects{% else %}cernbox{% endif %}"
dir="ltr">

<noscript>
    <div id='noscript'>
      Jupyter Notebook requires JavaScript.<br>
      Please enable it to proceed.
  </div>
</noscript>

<header>
  <div id="header-container" class="container">
      <div class="row">
          <div class="{% if tree %}col-md-3{% else %}col-md-1{% endif %} col-xs-6">
              <div id="ipython_notebook" class="nav navbar-brand"><a href="{{base_url}}projects" title='Swan Projects'>{% block logo %}<img src='/hub/static/swan/logos/logo_swan_cloudhisto.png' alt='SWAN'/>{% endblock %}</a></div>
          </div>

          <div class="col-md-3 {% if tree %}col-md-push-6{% else %}col-md-push-8{% endif %} col-xs-6 control">


              {% block header_buttons %}
              <div id="buttons-right-wrapper">
                  <div id="buttons-right">
                      <div id="options-buttons" class="btn-group">
                          {% block extra_buttons %}
                          {% endblock %}
                          <button class="dropdown-toggle btn btn-default btn-xs" data-toggle="dropdown" title="Options">
                              <i class="icon-more" aria-hidden="true"></i>
                          </button>
                          <ul id="options-menu" class="dropdown-menu">
                              {% block extra_options %}
                              {% endblock %}
                              <li role="presentation">
                                  <a id="change-config" href="javascript:">Change configuration</a>
                              </li>
                              <li class="divider"></li>
                              <li role="presentation" class="disabled">
                                  <a id="help-button" href="javascript:">Help</a>
                              </li>
                          </ul>
                      </div>
                      <button class="btn btn-default btn-xs" onclick="javascript: window.location = '{{base_url}}logout'" title="Log out">
                          <i class="fa fa-sign-out" aria-hidden="true"></i>
                      </button>
                  </div>
              </div>
              {% endblock header_buttons %}
          </div>


          <div class="middle {% if tree %}col-md-6 col-md-pull-3{% else %}col-md-8 col-md-pull-3{% endif %} col-xs-12">

              {% block headercontainer %}
              {% endblock %}

              {% if menu %}
              <div id="menu">
                  <ul class="nav nav-tabs">
                      <li {%if projects_page%} class="active"{%endif%}><a href="{{base_url}}projects"><i class="fa fa-archive" aria-hidden="true"></i><span class="text">Projects</span></a></li>
                      <li {%if share_page%} class="active"{%endif%}><a href="{{base_url}}share"><i class="fa fa-share-alt" aria-hidden="true"></i><span class="text">Share</span></a></li>
                      <li {%if not projects_page and not share_page%} class="active"{%endif%}><a href="{{base_url}}cernbox"><i class="icon-cernbox-abstract" aria-hidden="true"></i><span class="text">CERNBox</span></a></li>
                  </ul>
              </div>
              {% endif %}
          </div>
      </div>
  </div>
  <div class="header-bar"></div>

  {% block header %}
  {% endblock %}
</header>

<div id="site">
{% block site %}
{% endblock %}
</div>

{% block after_site %}
{% endblock %}

<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-8 text">
                    <span class="text-muted">SWAN &copy; Copyright CERN 2016-2018. All rights reserved.</span>
                    <ul class="text-muted">
                        <li><a target="_blank" href="http://swan.web.cern.ch/">Home</a></li>
                        <li><a href="mailto:swan-talk@cern.ch">Contact</a></li>
                        <li><a target="_blank" href="https://cern.service-now.com/service-portal/function.do?name=swan">Support</a></li>
                        <li><a target="_blank" href="https://its.cern.ch/jira/browse/UCA">Report a bug</a></li>
                        <!--<li><a href="">Imprint</a></li>-->
                    </ul>
            </div>
            <div class="col-xs-4 logo">
                <img src='/hub/static/swan/logos/logo_cern.png' alt='CERN'/>
            </div>
        </div>
    </div>
</footer>

{% block script %}
{% endblock %}

<script type='text/javascript'>
    define('template',[
        'jquery',
        'base/js/dialog'
    ], function ($, dialog) {

        $('#change-config').on('click', function () {
            dialog.modal({
                draggable: false,
                title: 'Change configuration',
                body: $("<p>You are going to shut down all your notebooks and remove your saved configuration.<br>Do you wish to continue?</p>"),
                buttons: {
                    'Cancel': {},
                    'Change': {
                        class: 'btn-warning',
                        click: function () {
                            window.location.replace('/hub/home#changeconfig');
                        }
                    }
                }
            }).modal('show');
        });
    });
    require(['template']);
</script>

</body>

</html>
